<!-- Navbar -->
<di-navbar></di-navbar>

<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="mgmt-login">MgmtLogin</a></li>
  <li><a routerLink="mgmt-dashboard">MgmtDashboard</a></li>
</ul>

<!-- Checkboxes -->
<div class="ms-3 mb-2">
  <di-checkbox
    [ariaLabelledBy]="lightModeId"
    [isDisabled]="isFalse"
    [name]="chkboxName"
    size="sm"
    [tabindex]="tabindex"
    [value]="isTrue"
    (onValueChanged)="chkboxClick1($event)"
  ></di-checkbox>
  <span [id]="lightModeId" class="ps-2">{{lightModeLabel}}</span>
</div>

<div class="ms-3">
  <di-checkbox
    [ariaLabelledBy]="darkModeId"
    [isDisabled]="isFalse"
    [name]="chkboxName"
    size="md"
    [tabindex]="tabindex"
    [value]="isNull"
  ></di-checkbox>
  <span [id]="darkModeId" class="ps-2">{{darkModeLabel}}</span>
</div>
