<ul class="remote-menu">
  <li><a routerLink="/">Home</a></li>
  <li><a routerLink="mgmt-login">MgmtLogin</a></li>
  <li><a routerLink="mgmt-dashboard">MgmtDashboard</a></li>
</ul>
<di-checkbox
  [value]="true"
  [name]="chkboxName"
  [text]="chkboxText"
  (onValueChanged)="chkboxClick($event)"
></di-checkbox>
<div class="flex large-margin" *ngFor="let size of ['sm', 'md', 'lg']">
  <div class="small-margin" *ngFor="let dot of [false, true]">
    <div class="tiny-margin" *ngFor="let close of [false, true]">
      <di-tag [size]="size" [showDot]="dot" [showClose]="close">
        Test tag
      </di-tag>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
